body{
    font-family: Consolas, sans-serif;
}
.title{
    text-align: center;
    color: cornflowerblue;
    margin-bottom: -5px;
    transition: 0.5s;
}
.title:hover{
    text-shadow: 1px 1px 2px darkblue, 0 0 1em blue, 0 0 0.2em blue;
}
.wrapper{
    position: relative;
    display: flex;
    width: 450px;
    height: 250px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    flex-direction: column;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 99px;
}

.wrapper div{
    margin: 0px auto;
    margin-bottom: 25px;
    font-size: 20px;
}
.wrapper__div{
    position: relative;
    padding-left: 20px;
}
.wrapper__div-img{
    position: absolute;
    left: -50px;
    top: -10px;
}

.wrapper__div-login{
    margin-left: 15px;
}
.wrapper__addBtn{
    font-size: 25px;
    background-color: blue;
    color: papayawhip;
    border-color: darkblue;
    position: absolute;
    bottom: 20px;
    width: 200px;
    height: 40px;
    left: 28%;
    width: border-box;
    transition: 0.25s;
}
.wrapper__addBtn:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.wrapper .wrapper-checkbox{
    font-size: 15px;
    color: gray;
    font-style: italic;
    margin-top: 0px;
}
.wrapper-repeat{
    padding-left: 15px;
}
.wrapper-registration{
    color: blue;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);;
    transition: 0.25s;
    margin-top: 0px;
}
.wrapper-registration:hover{
    cursor: pointer;
    transform: scale(1.03);
}