body{
    font-family: Consolas, sans-serif;
}
.buttons{
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    padding-right: 20px;
    list-style: none;
}
.buttons button{
    background-color: blue;
    color: papayawhip;
    border-color: darkblue;
    height: 35px;
    font-size: 18px;
    width: 80px;
    transition: 0.25s;
}
.buttons button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.wrapper{
    display: flex;
    justify-content: flex-end;
}
.wrapper img{
    margin-top: 10px;
    margin-right: 70px;
    transition: 0.25s;
}
.wrapper img:hover{
    transform: scale(1.1);
}
.wrapper-user{
    margin-right: 30px;
    font-size: 18px;
    color: papayawhip;
}
.title{
    text-align: center;
    color: cornflowerblue;
    margin-bottom: -5px;
}
.companies{
    margin: 0 auto;
    width: 1300px;
}
.description{
    text-align: center;
    color: gray;
    margin-bottom: 50px;
}

.subtitle{
    margin-left: 50px;
}
.company-wrapper{
    display: flex;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
.company-description{
    order: 1;
    margin-left: 130px;
    padding-top: 15px;
    align-items: flex-start;
    margin-top: -30px;
}
.company-name{
    font-size: 30px;
    margin-bottom: -10px;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}
.company-catchPhrase{
    color: gray;
    font-style: italic;
}
.company-wrapper:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.company-wrapper{
    transition: transform 0.25s;
}

.form-wrapper{
    position: relative;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.form-wrapper .form{
    margin:40px auto 0px auto;
    width:500px;
    height: 500px;
    padding-top: 30px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}

.form{
    font-size: 20px;
    display: flex;
    padding-left: 30px;
    flex-direction: column;
}
.form div{
    margin-bottom: 30px;
}
.form select{
    height: 30px;
}

.form input[type=checkbox]{
    width: 5mm;
    height: 5mm;
    border: 0.1mm solid black;
    margin-top: 5px;
    align-self: center;
}

.form input{
    height: 20px;
}
.button-save{
    position: absolute;
    background-color: blue;
    color: papayawhip;
    font-size: 25px;
    padding: 10px;
    border-color: darkblue;
    width: 300px;
    border-radius: 10%;
    left: 39%;
    bottom: 125px;
}
.form__logo{
    margin-left: 140px;
}
.button-save:hover{
    cursor: pointer;
}
.form p{
    margin: 0px;
    margin-left: 220px;
    margin-top: 5px;
    color: gray;
    font-style: italic;
    font-size: 14px;
}
.button-add{
    background-color: blue;
    color: papayawhip;
    border-color: darkblue;
    font-size: 22px;
    width: 390px;
    height: 45px;
    top: 250px;
    padding: 10px;
    position: absolute;
    right: 25px;
    transition: transform 0.25s;
}
.button-add:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.button-close{
    position: absolute;
    transition: transform 0.25s;
    top: 5px;
    right: 30px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background-color: #a22642;
    border: 4px solid #e62f57;
    border-radius: 50%;
}

.button-close:before,
.button-close:after {
    content: "";
    position: absolute;
    top: 25px;
    left: 15px;
    width: 26px;
    height: 4px;
    background-color: red;
}

.button-close:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button-close:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.button-close:hover{
    transform: scale(1.1);
}